

<div class="be-content">
  <div class="main-content container-fluid">
    <div class="splash-container forgot-password">
      <div class="panel panel-default panel-border-color panel-border-color-primary">
        <div class="panel-heading"><img src="assets/img/logo-xx.png" alt="logo" width="102" height="27"
                                        class="logo-img"><span class="splash-description">Forgot your password?</span>
        </div>
        <div class="panel-body">
          <form method="get" data-parsley-validate="" novalidate="">
            <p>Don't worry, we'll send you an email to reset your password.</p>
            <div class="form-group xs-pt-20">
              <input  [(ngModel)]="email"  name="email" parsley-trigger="change" required=""
                      placeholder="Your Email" autocomplete="off"
                      class="form-control">
            </div>
            <p class="xs-pt-5 xs-pb-20">Don't remember your email? <a href="#">Contact Support</a>.</p>
            <div class="form-group xs-pt-5">
              <button (click)="forgotPassword()" type="submit" class="btn btn-block btn-primary btn-xl">Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="splash-footer">&copy; 2016 Your Company</div>
    </div>
  </div>
</div>



