<div class="be-content">
  <div class="main-content container-fluid">
    <div class="splash-container forgot-password">
      <div class="panel panel-default panel-border-color panel-border-color-primary">
        <div class="panel-heading"><img src="assets/img/logo-xx.png" alt="logo" width="102" height="27"
                                        class="logo-img"><span class="splash-description">Forgot your password?</span>
        </div>
        <div class="panel-body">
          <form action="index.html" method="get">
            <h3>Type new passwords</h3>
            <div class="form-group xs-pt-20">
              <input [(ngModel)]="newPassword" type="password" name="passwords" required="" placeholder="Type passwords" autocomplete="off"
                     class="form-control">
            </div>
            <div class="form-group xs-pt-20">
              <input [(ngModel)]="confirmationPassword" type="password" name="re-passwords" required="" placeholder="Re-type passwords" autocomplete="off"
                     class="form-control">
            </div>
            <div class="form-group xs-pt-5">
              <button (click)="resetPassword()" type="submit" class="btn btn-block btn-primary btn-xl">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
      <div class="splash-footer">&copy; 2016 Your Company</div>
    </div>
  </div>
</div>
